@{
    ViewData["Title"] = "Home Page";
}

<fieldset style="padding:50px">

    <div class="row">
        <div class="panel panel-primary" style="margin-top:10px">
            <div class="panel-heading" style="background-color:#7386d5"></div>
            <div class="panel-body" style="background-color:#e4e7e9; font-size:large; font-weight:bold">
                <IMG style="display:block; margin-left:auto; margin-right:auto" src="~/images/npc.png" alt="NPC">
                <p style="text-align:center; margin-top:10px">Pursuant to the Republic Act No. 10173 also as known as Data privacy Act 2012 mandated by law.</p>
                <br />
                <p style="text-align:center">Avior Marine Inc. adheres to and hereby promulgated to effectively implement the provisions set by the National Privacy Commission to ensure the act to protect the privacy of an individual’s personal information in the information communication technology systems in the government and private companies.</p>
                <br />
                <p style="text-align:center">Furthermore, all data collected and encoded by the Personal Information Controller are based and in compliance to the</p>
                <p style="text-align:center"><a href="https://privacy.gov.ph/implementing-rules-and-regulations-of-republic-act-no-10173-known-as-the-data-privacy-act-of-2012" target="_blank">Implementing Rules and Regulations of Republic Act No. 10173</a></p>
                <p style="text-align:center; font-size:small">Operations Manager / DPO - Jesus Agbayani</p>
            </div>
        </div>
    </div>
</fieldset>
